.formWrapper{
	max-width: 700px;
	// margin: 20px auto;
	// width: 30%;
	// height: 500px;
	background-color: #f6f8f9;
	box-shadow: 0px 0px 5px 0px rgba(43,55,73, 0.3);
	// border-radius: 5px;
	overflow: hidden;
	.formHeader{
		padding: 0 12px;
		text-align: left;
		line-height: 60px;
		font-size: 18px;
		background-color: #d1d7de;
	}
	.formBody{
		// display: flex;
		// padding: 20px 0;
		.formControlsWrapper{
			padding: 12px;
			// width: 70%;
			.alertMessage{
				margin-top: 10px;
				height: 20px;
			}
		}
		.summaryWrapper{
			border-top: 2px dashed #d1d7de;
			text-align: left;
			padding: 12px;
			// width: 30%;
			margin-bottom: 0;
			.simulatorDisplay{
				line-height: 24px;
				.simulatorValue{
					float: right;
				}
			}
		}
	}
}
