.formWrapper {
  max-width: 700px;
  margin: auto;
  background-color: #f6f8f9;
  box-shadow: 0px 0px 5px 0px rgba(43, 55, 73, 0.3);
  border-radius: 5px;
  overflow: hidden; }
  .formWrapper .formHeader {
    padding: 0 12px;
    text-align: left;
    line-height: 60px;
    font-size: 18px;
    background-color: #d1d7de; }
  .formWrapper .formBody {
    display: flex;
    padding: 20px 0; }
    .formWrapper .formBody .formControlsWrapper {
      padding: 12px;
      width: 70%; }
      .formWrapper .formBody .formControlsWrapper .alertMessage {
        margin-top: 10px;
        height: 20px; }
    .formWrapper .formBody .summaryWrapper {
      border-left: 2px dashed #d1d7de;
      text-align: left;
      padding: 12px;
      width: 30%; }
      .formWrapper .formBody .summaryWrapper .simulatorDisplay {
        line-height: 24px; }
        .formWrapper .formBody .summaryWrapper .simulatorDisplay .simulatorValue {
          float: right; }
  .formWrapper .btn {
    height: 40px;
    width: 200px; }
  .formWrapper .testClass {
    font-size: 16px;
    color: red; }
