.appWrapper {
  height: 100vh;
  text-align: left;
  color: #20395e; }
  .appWrapper .center {
    text-align: center; }
  .appWrapper .contentContainer {
    color: #fff; }
    .appWrapper .contentContainer .bg-img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-image: url("../assets/background1.jpg"); }
      .appWrapper .contentContainer .bg-img .overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: .8;
        background: #1C1D21; }
    .appWrapper .contentContainer .contentWrapper {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      text-align: center; }
